<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>CDMX Crime Location</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


</head>

<body>

    <center>
        <h1>Selecciona la delegación que quieres visualizar</h1>
        <h1 id="pendiente"></h1>
    </center>

    <select id="dropdown">
        <option value="Alvaro_Obregon">ALVARO OBREGON</option>
        <option value="Azcapotzalco">AZCAPOTZALCO</option>
        <option value="Benito_Juarez">BENITO JUAREZ</option>
        <option value="Cuajimalpa" selected>CUAJIMALPA DE MORELOS</option>
        <option value="Cuauhtemoc" selected>CUAUHTEMOC</option>
        <option value="Gustavo_A_Madero" selected>GUSTAVO A MADERO</option>
        <option value="Iztacalco" selected>IZTACALCO</option>
        <option value="Iztapalapa" selected>IZTAPALAPA</option>
        <option value="La_Magdalena_Contreras" selected>LA MAGDALENA CONTRERAS</option>
        <option value="Miguel Hidalgo" selected>MIGUEL HIDALGO</option>
        <option value="Milpa_Alta" selected>MILPA ALTA</option>
        <option value="Venustiano_Carranza" selected>VENUSTIANO CARRANZA</option>
        <option value="Xochimilco" selected>XOCHIMILCO</option>
      </select>

    <script type="text/javascript" src="js/config.js"></script>

    <div id="mapid"></div>
    <div id="myDiv" style="width:1000px;height:1000px;"></div>
    <script type="text/javascript" src="js/logic.js"></script>

    <script type="text/javascript" src="js/leaflet-heat.js"></script>
    <br>
    <hr>






    <p>{{wordcloud1}}</p>


    <!-- <img src="plot.png" height="420" width="420"> -->


</body>

</html>